body {
    background-color: #151515;
}

#nav {
    list-style: none;
}

.nav-cont {
    color: aqua;
}



.title {
    font-family: 'Goldman', cursive;
    color: #2EFEF7;
}

.description {
    font-family: 'Roboto', sans-serif;
    color: #F2F2F2;
}

strong {
    color: #2EFEF7;
}

ul li {
    color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
}

.hab1 {
    font-size: 20px;
}

.hab2 {
    font-size: 15px;
}

.hab3 {
    font-size: 20px;
}

.link {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: aqua;
}