* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #151515;
}

#nav {
    list-style: none;
}

.nav-cont {
    color: aqua;
}



.title {
    font-family: 'Goldman', cursive;
    color: #2EFEF7;
    text-align: center;
}

.description {
    font-family: 'Roboto', sans-serif;
    color: #F2F2F2;
    margin-top: 35px;
}

strong {
    color: #2EFEF7;
}

ul li {
    color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
}

.hab1 {
    font-size: 20px;
}

.hab2 {
    font-size: 15px;
}

.hab3 {
    font-size: 20px;
}

.link {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: aqua;
}

.hero {
    float: left;
    margin: 35px;
    padding: 35px;
    border-radius: 50px;
    background-color: #424242;
}

.about-me {
    border: 1px solid red;
    margin: 35px;
    width: 90%;
    height: 350px;
    
}

.title-about {
    font-family: 'Goldman', cursive;
    color: #2EFEF7;
    margin-top: 35px;
}

#hab-section {
    border: 1px solid red;
    margin: 35px;
    padding: 35px;
    height: 200px;
}

.title-hab {
    text-align: center;
    font-family: 'Goldman', cursive;
    color: #2EFEF7;
    margin-top: 35px;
}

ul {
    margin-left: 225px;
}

#list li {
    float: left;
    display: inline;
    margin: 35px; 
    padding: 35px;
}